
<div class="welcome-page">	
	<div class="jumbotron img-background">	
		<h1 class="display-3">Welcome King George</h1>
		<h3 class="lead">And Friend.</h3>
		 <hr class="my-4">
		  <p>This is a game called Battleship. We heard you liked to play</p>
		  <p class="lead">
		    <a class="btn btn-primary btn-lg" href="/games/new" role="button">Let's play.</a>
		  </p>
	</div>
</div>